<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden; /* Hide scroll bars */
        }

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Place it behind other content */
        }
    </style>
</head>
<body>
    <img class="background-image" src="~/BackgroundImages/admin_background_image.jpg" alt="Background Image">

    <h1>Hello, @ViewBag.User.FirstName @ViewBag.User.LastName</h1>

    <!-- Add specific admin details here -->
    <p>User Type: Admin</p>

    <ul>
        <li><a href="@Url.Action("PatientList", "AdminActions")">View Patients</a></li>
        <li><a href="@Url.Action("DoctorList", "AdminActions")">View Doctors</a></li>
        <li><a href="@Url.Action("CreatePatient", "AdminActions")">Create Patient</a></li>
        <li><a href="@Url.Action("CreateDoctor", "AdminActions")">Create Doctor</a></li>
        <!-- Add more action links as needed -->
    </ul>

    <!-- Rest of your HTML content here -->
</body>
</html>
