<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden; /* Hide scroll bars */
        }

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1; /* Place it behind other content */
        }
    </style>
</head>
<body>
    <img class="background-image" src="~/BackgroundImages/patient_background_image.jpg" alt="Background Image">

    <h1>Hello, @ViewBag.User.FirstName @ViewBag.User.LastName</h1>
    <p>Medical Record Number: @ViewBag.Patient.MedicalRecordNumber</p>
    <p>Date of Birth: @ViewBag.Patient.DateOfBirth</p>

    <!-- Add links to various actions -->
    <ul>
        <li><a href="@Url.Action("Appointments", "PatientsActions")">View Appointments</a></li>
        <li><a href="@Url.Action("MedicalRecords", "PatientsActions")">View Medical Records</a></li>
        <li><a href="@Url.Action("ScheduleAppointment", "PatientsActions")">Schedule Appointment</a></li>
    </ul>

    <!-- Rest of your HTML content here -->
</body>
</html>
